// Material Design Text Fields
// https://material.google.com/components/text-fields.html
// https://material.google.com/patterns/errors.html
// https://github.com/android/platform_frameworks_support/blob/android-6.0.1_r63/design/src/android/support/design/widget/TextInputLayout.java

$input-container-margin-end: 16px !default;
$input-container-padding: 2px !default;

// label

$input-label-font-size: rem(1.200) !default;
$input-label-font-size-dense: rem(1.300) !default;
$input-label-margin-top: 16px !default;
$input-label-margin-top-dense: 12px !default;
$input-label-height: 16px !default;
$input-label-default-offset: 24px !default;

$input-label-text-animation: cubic-bezier(0.4, 0.0, 0.2, 1) 0.2s !default; // Android FAST_OUT_SLOW_IN_INTERPOLATOR
$input-label-position-animation: cubic-bezier(0.4, 0.0, 1, 1) 0.2s !default; // Accelerate (ease in)

// input

// distance from top
$input-margin-top: 16px !default;
$input-margin-top-dense: 12px !default;
$input-margin-top-labelled: $input-label-margin-top + $input-label-height + 8px !default;
$input-margin-top-labelled-dense: $input-label-margin-top-dense + $input-label-height + 4px !default;

// textbox
$input-line-height: 1em !default;
$input-height: 1em !default; // 1em = font-size height
$input-min-height: 16px !default;

// placeholder
$input-placeholder-offset: $input-label-default-offset !default;

// distance to underline
$input-padding-bottom: 8px !default;

// underline
$input-border-width-default: 1px !default;
$input-border-width-focused: 2px !default;

// spacing after underline
$input-margin-bottom: 8px - $input-border-width-default !default;
$input-margin-bottom-messages: 4px - $input-border-width-default !default;
$input-margin-bottom-dense: 4px - $input-border-width-default !default;

$input-margin-bottom-focused: 8px - $input-border-width-focused !default;
$input-margin-bottom-focused-messages: 4px - $input-border-width-focused !default;
$input-margin-bottom-focused-dense: 4px - $input-border-width-focused !default;

// errors spacer
$input-errors-spacer-margin-top: 0px !default;
$input-errors-spacer-margin-bottom: 16px !default; // from spec text, not implemented
$input-errors-spacer-min-height: 16px !default;
$input-errors-spacer-margin-top-messages: $input-margin-bottom - $input-margin-bottom-messages !default;

// messages component
$input-messages-margin-bottom: 4px !default;
$input-messages-min-height: 16px !default;

// char counter / message (shared)
$input-message-counter-font-size: rem(1.200) !default;
$input-message-counter-line-height: 1em !default;

// icons
$icon-size: 24px !default;
$icon-size-dense: 20px !default;
$icon-offset: ($icon-size * 2) + 8px !default;
$icon-offset-dense: ($icon-size * 2) + 8px !default;
$icon-top-offset: $input-margin-top !default;
$icon-top-offset-labelled: $input-margin-top-labelled !default;
$icon-top-offset-dense: $input-margin-top-dense !default;
$icon-top-offset-labelled-dense: $input-margin-top-labelled-dense !default;

// multiline / textarea
$input-resize-handle-height: 10px !default;
// shift up to textbox underline
$input-resize-handle-margin-top: -($input-resize-handle-height / 2 + $input-margin-bottom) !default;
$input-resize-handle-margin-top-messages: -($input-resize-handle-height / 2 + $input-margin-bottom-messages) !default;
$input-resize-handle-margin-top-dense: -($input-resize-handle-height / 2 + $input-margin-bottom-dense) !default;

md-input-container {
  @include pie-clearfix();
  display: inline-block;
  position: relative;
  vertical-align: middle;

  &:not(:last-child) {
    @include rtl(margin-left, 0, $input-container-margin-end);
    @include rtl(margin-right, $input-container-margin-end, 0);
  }

  &.md-block {
    display: block;
  }

  // Setup a spacer that is always there as a placeholder for any messages so we don't change
  // height with only 1 message
  .md-errors-spacer {
    @include rtl(float, right, left);
    min-height: $input-errors-spacer-min-height;
    margin-top: $input-errors-spacer-margin-top;
  }

  > md-icon {
    position: absolute;
    @include rtl(left, 0, auto);
    @include rtl(right, auto, 0);
    @include dense(font-size, $icon-size, $icon-size-dense);
    @include dense(top, $icon-top-offset, $icon-top-offset-dense);
  }

  input[type="password"] {
    letter-spacing: -webkit-calc(2px); // only on webkit browsers
  }

  textarea,
  input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="url"],
  input[type="search"],
  input[type="tel"],
  input[type="color"] {
    /* remove default appearance from all input/textarea */
    -moz-appearance: none;
    -webkit-appearance: none;
  }
  input[type="date"],
  input[type="datetime-local"],
  input[type="month"],
  input[type="time"],
  input[type="week"] {
    min-height: $input-min-height;
  }
  textarea {
    resize: none;
    overflow: hidden;

    &.md-input {
      min-height: 1.2em;
      -ms-flex-preferred-size: auto; //IE fix
      line-height: normal;
    }

    // The height usually gets set to 1 line by `.md-input`.
    &[md-no-autogrow] {
      height: auto;
      overflow: auto;
    }
  }

  label:not(.md-container-ignore) {
    position: absolute;
    display: block; // fixes Firefox bug with label and auto positioning
    @include dense(margin-top, $input-label-margin-top, $input-label-margin-top-dense);
    min-height: $input-label-height;
    max-width: 100%;

    line-height: normal; // don't inherit line-height
    @include dense(font-size, $input-label-font-size, $input-label-font-size-dense);
    font-weight: 400;

    -webkit-font-smoothing: auto; // let browser disable smoothing during font-size animation
    will-change: transform, font-size; // prep animation for smoothness
    -ms-transform: translate3d(0,0,0); // IE fallback for will-change

    &.md-required:after {
      content: ' *';
      font-size: 13px;
      vertical-align: top;
    }
  }

  label:not(.md-no-float):not(.md-container-ignore),
  .md-placeholder {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    pointer-events: none;
    z-index: 1;
    font-size: inherit;
    will-change: transform, font-size; // prep animation for smoothness
    transform: translate3d(0, $input-label-default-offset, 0);
    transition: transform $input-label-position-animation,
                font-size $input-label-text-animation;
  }
  .md-placeholder {
    position: absolute;
    top: 0;
    opacity: 0;
    transition-property: opacity, transform;
    transform: translate3d(0, $input-placeholder-offset + $baseline-grid * 0.75, 0);
  }
  &.md-input-focused .md-placeholder {
    opacity: 1;
    transform: translate3d(0, $input-placeholder-offset, 0);
  }
  // Placeholder should immediately disappear when the user starts typing
  &.md-input-has-value .md-placeholder {
    transition: none;
    opacity: 0;
  }

  &:not( .md-input-has-value ) input:not( :focus ),
  &:not( .md-input-has-value ) input:not( :focus )::-webkit-datetime-edit-ampm-field,
  &:not( .md-input-has-value ) input:not( :focus )::-webkit-datetime-edit-day-field,
  &:not( .md-input-has-value ) input:not( :focus )::-webkit-datetime-edit-hour-field,
  &:not( .md-input-has-value ) input:not( :focus )::-webkit-datetime-edit-millisecond-field,
  &:not( .md-input-has-value ) input:not( :focus )::-webkit-datetime-edit-minute-field,
  &:not( .md-input-has-value ) input:not( :focus )::-webkit-datetime-edit-month-field,
  &:not( .md-input-has-value ) input:not( :focus )::-webkit-datetime-edit-second-field,
  &:not( .md-input-has-value ) input:not( :focus )::-webkit-datetime-edit-week-field,
  &:not( .md-input-has-value ) input:not( :focus )::-webkit-datetime-edit-year-field,
  &:not( .md-input-has-value ) input:not( :focus )::-webkit-datetime-edit-text {
    color: transparent;
  }

  /*
   * The .md-input class is added to the input/textarea
   */
  .md-input {
    display: block;
    @include dense(margin-bottom, $input-margin-bottom, $input-margin-bottom-dense);
    background: none;
    padding: 0 0 $input-padding-bottom 0;
    @include dense(margin-top, $input-margin-top, $input-margin-top-dense);
    border-width: 0 0 $input-border-width-default 0;
    line-height: $input-line-height;
    min-height: $input-min-height;
    height: $input-height;
    border-radius: 0;
    border-style: solid; // Firefox fix
    width: 100%;

    // Hacky fix to force vertical alignment between `input` and `textarea`
    // Input and textarea do not align by default:
    // http://jsbin.com/buqomevage/1/edit?html,css,js,output
    @include rtl(float, left, right);

    &:focus {
      outline: none;
    }
    &:invalid {
      outline: none;
      box-shadow: none;
    }
  }

  .md-char-counter {
    @include rtl(text-align, right, left);
    @include rtl(padding-right, $input-container-padding, 0);
    @include rtl(padding-left, 0, $input-container-padding);
  }

  //
  // ngMessage base styles
  //
  .md-input-messages-animation {
    position: relative;
    overflow: hidden;
    min-height: $input-messages-min-height;
    margin-bottom: $input-messages-margin-bottom;
    @include rtl(clear, left, right);
    // Add some padding so that the messages don't touch the character counter
    @include rtl(padding-right, rem(0.8), 0);
    @include rtl(padding-left, 0, rem(0.8));

    &.ng-enter {
      // Upon entering the DOM, messages should be hidden
      .md-input-message-animation {
        opacity: 0;
        margin-top: -100px;
      }
    }
  }

  //shared rules between char counter and message text
  .md-input-message-animation, .md-char-counter {
    font-size: $input-message-counter-font-size;
    line-height: $input-message-counter-line-height;
    overflow: hidden;

    transition: transform $swift-ease-out-timing-function $swift-ease-out-duration,
                opacity $swift-ease-out-timing-function $swift-ease-out-duration,
                margin-top $swift-ease-out-timing-function $swift-ease-out-duration;

    // Default state for messages is to be visible
    margin-top: 0;
    will-change: opacity, transform; // margin-top counts as a transform
    -ms-transform: translate3d(0,0,0); // IE fallback for will-change

    // Center vertically
    padding-top: ($input-errors-spacer-min-height - $input-message-counter-font-size) / 2;
    padding-bottom: ($input-errors-spacer-min-height - $input-message-counter-font-size) / 2;
  }

  &:not(.md-input-invalid) {
    .md-auto-hide {
      .md-input-message-animation {
        opacity: 0;
        margin-top: -100px;
      }
    }
  }

  .md-input-message-animation {
    &.ng-enter {
      opacity: 0;
      margin-top: -100px;
    }
  }

  &.md-input-focused,
  &.md-input-has-placeholder,
  &.md-input-has-value {
    label:not(.md-no-float) {
      @include dense(font-size, $input-label-font-size, $input-label-font-size-dense);
      transform: translate3d(0,0,0);
      transition: transform $input-label-position-animation,
                  font-size $input-label-text-animation;
    }
  }

  // If we have an existing value; don't animate the transform as it happens on page load and
  // causes erratic/unnecessary animation
  &.md-input-has-value {
    label {
      transition: none;
    }
  }

  // Use focused border in error state or in focused state
  &.md-input-focused .md-input,
  .md-input.ng-invalid.ng-dirty,
  &.md-input-resized .md-input {
    @include dense(margin-bottom, $input-margin-bottom-focused, $input-margin-bottom-focused-dense);
    border-width: 0 0 $input-border-width-focused 0;
  }

  .md-input {
    &[disabled],
    [disabled] & {
      // The negative border width offsets the dotted "border" so
      // it's placed in the same place as the solid one before it.
      background-position: bottom $input-border-width-default * -1 left 0;
      // This background-size is coordinated with a linear-gradient set in input-theme.scss
      // to create a dotted line under the input.
      background-size: 4px 1px;
      background-repeat: repeat-x;
    }
  }

  // icon offset should have higher priority as normal label
  &.md-icon-left {
    @include rtl(padding-left, $icon-offset, 0);
    @include rtl(padding-right, 0, $icon-offset);
  }

  &.md-icon-right {
    @include rtl(padding-left, 0, $icon-offset);
    @include rtl(padding-right, $icon-offset, 0);

    > md-icon:last-of-type {
      @include rtl(right, 0, auto);
      @include rtl(left, auto, 0);
    }
  }

  &.md-icon-left.md-icon-right {
    padding-left: $icon-offset;
    padding-right: $icon-offset;
  }

  &.md-input-has-label {
    .md-input {
      @include dense(margin-top, $input-margin-top-labelled, $input-margin-top-labelled-dense);
    }
    > md-icon {
      @include dense(top, $icon-top-offset-labelled, $icon-top-offset-labelled-dense);
    }
  }

  &.md-input-has-messages {
    .md-input {
      @include dense(margin-bottom, $input-margin-bottom-messages, $input-margin-bottom-dense); // required CSS dupe
    }

    &.md-input-focused .md-input,
    .md-input.ng-invalid.ng-dirty,
    &.md-input-resized .md-input {
      @include dense(margin-bottom, $input-margin-bottom-focused-messages, $input-margin-bottom-focused-dense);
    }

    .md-errors-spacer {
      // This matches spec but breaks alignment with ng-messages
      // margin-top: $input-error-spacer-margin-top-messages;
    }
    .md-resize-handle {
      @include dense(margin-top, $input-resize-handle-margin-top-messages, $input-resize-handle-margin-top-dense);
    }
  }
}

.md-resize-handle {
  @include rtl(float, left, right);

  // shift upwards to to align with bottom border
  @include dense(margin-top, $input-resize-handle-margin-top, $input-resize-handle-margin-top-dense);
  height: $input-resize-handle-height;
  background: transparent;
  width: 100%;
  cursor: ns-resize;
}

@media screen and (-ms-high-contrast: active) {
  md-input-container.md-default-theme > md-icon {
    fill: #fff;
  }
}
