md-toolbar.md-THEME_NAME-theme:not(.md-menu-toolbar) {
  background-color: '{{primary-color}}';
  color: '{{primary-contrast}}';
}

$set: map-set($filled-list, 'md-toolbar.md-THEME_NAME-theme:not(.md-menu-toolbar)', 'color');